[project]
	description = Vim matchit ported into Emacs
[access "refs/*"]
	owner = group user/chen bin (redguardtoo)
[access "refs/for/refs/*"]
	read = group user/chen bin (redguardtoo)
	push = group user/chen bin (redguardtoo)
	label-Code-Review = -2..+2 group user/chen bin (redguardtoo)
	label-Verified = -1..+1 group user/chen bin (redguardtoo)
	rebase = group user/chen bin (redguardtoo)
	removeReviewer = group user/chen bin (redguardtoo)
	submit = group user/chen bin (redguardtoo)
[access "refs/heads/*"]
	read = group user/chen bin (redguardtoo)
	create = group user/chen bin (redguardtoo)
	push = +force group user/chen bin (redguardtoo)
	pushMerge = group user/chen bin (redguardtoo)
[access "refs/tags/*"]
	push = +force group user/chen bin (redguardtoo)
	pushTag = group user/chen bin (redguardtoo)
	pushSignedTag = group user/chen bin (redguardtoo)
